$util.qr($context.args.job.put("modified", $util.defaultIfNull($ctx.args.job.modified, $util.time.nowISO8601())))
{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.job.id),
        "rk": $util.dynamodb.toDynamoDBJson($ctx.args.job.rk)
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args.job)
}