#set($pairs = [])
#foreach($pair in ${ctx.args.pairs})
    #set($pkey = {})
    $util.qr($pkey.put("id", $pair.id))
    $util.qr($pkey.put("rk", $pair.rk))
    $util.qr($pairs.add($util.dynamodb.toMapValues($pkey)))
#end

{
    "version" : "2018-05-29",
    "operation" : "BatchDeleteItem",
    "tables" : {
        "purrio-dev-KittyBox": $utils.toJson($pairs)
    }
}